<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SupWeather_HugoLambrinidis_Swift3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A56CED941DDB7ED50052553F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A56CEDAB1DDB7ED50052553F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A56CEDB61DDB7ED50052553F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
